/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Montserrat:wght@600;700;800&display=swap');

body{
    font-family:'Poppins',sans-serif;
}

.logo h2{
    font-family:'Montserrat',sans-serif;
    font-size:32px;
    font-weight:800;
    letter-spacing:2px;
    color:#FFD700;
}

.hero-content h1{
    font-family:'Montserrat',sans-serif;
    font-size:60px;
    font-weight:800;
    line-height:1.2;
    letter-spacing:1px;
}

.hero-content p{
    font-family:'Poppins',sans-serif;
    font-size:20px;
    font-weight:400;
    line-height:1.9;
}

#services h2,
#about h2,
#contact h2{
    font-family:'Montserrat',sans-serif;
    font-size:42px;
    font-weight:700;
    color:#FFD700;
}

.card h3{
    font-family:'Montserrat',sans-serif;
    font-size:24px;
    font-weight:700;
}

.card p{
    font-family:'Poppins',sans-serif;
    font-size:17px;
    line-height:1.8;
}

.btn{
    font-family:'Montserrat',sans-serif;
    font-size:17px;
    font-weight:700;
    letter-spacing:1px;
}

.contact-buttons a{
    font-family:'Montserrat',sans-serif;
    font-size:17px;
    font-weight:700;
}

footer h3{
    font-family:'Montserrat',sans-serif;
    font-size:28px;
    font-weight:800;
}

footer p{
    font-family:'Poppins',sans-serif;
    font-size:16px;
}